|===
|Path|Type|Description{{#fields.0.constraints}}|Constraints{{/fields.0.constraints}}

{{#fields}}
|{{path}}
|{{type}}
|{{description}}
{{#constraints}}
|{{constraints}}
{{/constraints}}

{{/fields}}
|===