{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "To-do Demo",
    "description": "This OAS2 (Swagger 2) file represents a real API that lives at http://todos.stoplight.io.\n\nFor authentication information, click the apikey security scheme in the editor sidebar.",
    "contact": {
      "name": "Stoplight",
      "url": "https://stoplight.io"
    },
    "license": {
      "name": "MIT"
    }
  },
  "host": "todos.stoplight.io",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {},
  "paths": {
    "/carts/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Cart"
            }
          }
        },
        "produces": [
          "application/hal+json"
        ],
        "consumes": [
          "application/hal+json"
        ]
      },
      "parameters": [
      {
        "name": "id",
        "in": "path",
        "type": "string",
        "required": true
      }
      ]
    }
  },
  "parameters": {
    "limit": {
      "name": "limit",
      "in": "query",
      "description": "This is how it works.",
      "required": false,
      "type": "integer",
      "maximum": 100
    },
    "skip": {
      "name": "skip",
      "in": "query",
      "required": false,
      "type": "string"
    }
  },
  "definitions": {
    "Product": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "price": {
          "type": "number"
        }
      },
      "required": [
        "name",
        "price"
      ]
    },
    "Cart": {
      "type": "object",
      "properties": {
        "total": {
          "type": "number"
        },
        "products": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductLineItem"
          }
        },
        "_links": {
          "type": "object",
          "properties": {
            "self": {
              "$ref": "#/definitions/Link"
            },
            "order": {
              "$ref": "#/definitions/Link"
            }
          }
        }
      },
      "required": [
        "total",
        "products"
      ]
    },
    "ProductLineItem": {
      "type": "object",
      "properties": {
        "quantity": {
          "type": "number"
        },
        "product": {
          "$ref": "#/definitions/Product"
        },
        "_links": {
          "type": "object",
          "properties": {
            "product": {
              "$ref": "#/definitions/Link"
            }
          }
        }
      },
      "required": [
        "quantity",
        "product"
      ]
    },
    "Link": {
      "type": "object",
      "properties": {
        "href": {
          "type": "string"
        }
      }
    }
  }
}
